<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>
<section class="total-budget-section">
    <h2 [ngClass]="{'red':Total < 0 ,'green':Total > 0 }">{{Total}}</h2>
</section>
<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form style="padding:20px" (formSubmit)="addItems($event)"></app-add-item-form>
    </div>
</section>
<hr style="margin:0"/>
<app-budget-item-list [budgetItems]="budgetItems" (deletedItem)="deleteItem($event)" (update)="updateItem($event)"></app-budget-item-list>